# Flutter .gitignore
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/.generated/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.vscode/
.idea/
*.log
*.iml
.metadata
**/*.png
**/*.jpg
**/*.jpeg
!assets/screenshots/*.png
!assets/docs/*.png
